body {
    background-color: #E5E5E5;
}
.wrapper {
    width: 1024px;
    margin: 0 auto;
}

#form_block, #messages_block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0px;
}

.message {
    width: 50%;
    border: 1px solid #CCC;
}

.pagination-container
{
    width: 100%;
    text-align: center;
}

.message td {
    padding: 10px;
}