body {
    background-color: #E5E5E5;
}
.wrapper {
    width: 1024px;
    margin: 0 auto;
}

#form_block, #messages_block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0px;
}
