@model Messages
@section Scripts{
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

}
@section head {
<link href="~/Content/Index.css" rel="stylesheet" />
<link href="~/Content/MessageList.css" rel="stylesheet" />
}

<div class="wrapper">
    <div id="form_block">
        @using (Ajax.BeginForm("NewPost", "Home", new AjaxOptions { UpdateTargetId = "messages_block" }))
        {
            @Html.TextBoxFor(m => m.Title, new { placeholder = "title" })
            <br />
            @Html.TextAreaFor(m => m.Content, new { cols = "60", rows = "5", placeholder = "content" })
            <br />
            <input class="submit" type="submit" value="送出" />
        }
    </div>
    <div id="messages_block">
        @{ Html.RenderAction("RenderPosts", "Home"); }
    </div>
</div>
